@import '../../globalStyle/colors.scss';

.main_input {
    width        : 375px;
    height       : 55px;
    background   : $color-white;
    border       : 1px solid $color-black;
    box-sizing   : border-box;
    border-radius: 10px;
    margin-bottom: 30px;
    text-indent  : 10px;
}