{{!< main}}

<link rel="stylesheet" href="../../pages/registrations/style.scss" />
<main class="box">
  <div class="registration">
    <h3 class="registration__header">Регистрация</h3>
    <h6>Создайте акаунт и начните общаться</h6>
    <form  id="registration">
      <div>
        <input
          type="email"
          class="registration__input"
          placeholder="почта"
          id="email"
          name="email"
          form="registration"
        />
        <input
          type="text"
          class="registration__input"
          placeholder="логин"
          id="login"
          name="login"
          form="registration"
        />
        <input
          type="text"
          class="registration__input"
          placeholder="имя"
          id="first_name"
          name="first_name"
          form="registration"
        />
        <input
          type="text"
          class="registration__input"
          placeholder="фамилия"
          id="second_name"
          name="second_name"
          form="registration"
        />
        <input
          type="text"
          class="registration__input"
          placeholder="телефон"
          id="phone"
          name="phone"
          form="registration"
        />
        <input
          type="password"
          class="registration__input"
          placeholder="пароль"
          name="password"
          id="password"
          form="registration"
        />
        <div class="registration__button-wrapper">
          {{> button link="../../pages/chat/chat.hbs" text="зарегистрироваться"}}
          {{> button link="../auth/auth.hbs" text="войти"}}
        </div>
      </div>
    </form>
  </div>
</main>