@import '../../globalStyle/colors.scss';

.box {
    display        : flex;
    justify-content: center;
}

.registration {
    width        : 455px;
    background   : $color-lite-green;
    border-radius: 32px;
    text-align   : center;

    &__header {
        font-family: 'Karla';
        font-style : normal;
        font-weight: 700;
        font-size  : 55px;
        line-height: 72px;
        text-align : center;
        color      : $color-black;
    }

    &__input {
        width        : 375px;
        height       : 55px;
        background   : $color-white;
        border       : 1px solid $color-black;
        box-sizing   : border-box;
        border-radius: 10px;
        margin-bottom: 30px;
        text-indent  : 10px;
    }
}