@import '../../globalStyle/colors.scss';

.auth__block {
    display        : flex;
    justify-content: center;
    text-align     : center;
}

.authorizatons {
    background   : $color-lite-green;
    border-radius: 49px;
    width        : 698px;

    &__header {
        font-family: 'Karla';
        font-style : normal;
        font-weight: 700;
        font-size  : 55px;
        line-height: 72px;
        text-align : center;
        color      : $color-black;
    }

    &__form_input {
        width        : 575px;
        height       : 84px;
        font-size    : 23px;
        background   : $color-white;
        border       : 2px solid $color-black;
        box-sizing   : border-box;
        border-radius: 15px;
        margin-bottom: 30px;
        text-indent  : 10px;
    }

    &__button-wrapper {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        margin-bottom : 60px;
    }
}

