<a href="../../pages/userProfile/userProfile.hbs">Назад</a>


{{> user}}
<div>
    <form>
        <input name="oldPassword">
        <input name="newPassword">
        <input name="repeadNewPassword">
        {{> button text="Сохранить"}}
    </form>
</div>