@import '../../globalStyle/colors.scss';

.user-person-data {
    &__footer {
        display: flex;
    }

    .button-style {
        font-family: 'Inter';
        font-style : normal;
        font-weight: 500;
        font-size  : 13px;
        background : none;
        border     : none;
    }

    &__edit-button {
        &-link {
            color: $color-blue;
        }

    }

    &__exit-button {
        &-link {
            color: $color-red;
        }
    }
}