<a href="../../pages/chat/chat.hbs">Назад</a>
{{> user}} 

<link rel="stylesheet" href="../../pages/userProfile/style.scss" />

<div class="user-person-data">
  <div>
    <p>Почта</p>
    <p>Логин</p>
    <p>Имя</p>
    <p>Фамилия</p>
    <p>Телефон</p>
    <p>Имя в чате</p>
  </div>

  <footer class="user-person-data__footer">
    <button class="button-style user-person-data__edit-button"><a
        href="../../pages/editData/editData.hbs"
      >Изменить данные</a></button>
    <button class="button-style user-person-data__edit-button"><a
        class="user-person-data__edit-button-link"
        href="../../pages/editPassword/editPassword.hbs"
      >Изменить пароль</a></button>
    <button class="button-style user-person-data__exit-button"><a
        class="user-person-data__exit-button-link"
        href="*"
      >Выход</a></button>
  </footer>
</div>