<a href="../../pages/userProfile/userProfile.hbs">Назад</a>

{{> user}}
<link rel="stylesheet" href="../../pages/editData/style.scss">
<div class="edit_data_user">
    <input name="first_name" id="first_name" placeholder="">
    <input name="second_name" id="second_name" placeholder="">
    <input name="display_name" id="display_name" placeholder="">
    <input name="login" id="login" placeholder="">
    <input name="email" id="email" placeholder="">
    <input name="phone" id="phone" placeholder="">
     {{> button text="Сохранить"}}
</div>