<h3>Загрузка фото</h3>
<div>
    <div>
        <span>Добавьте фото</span >
        <input type="file">
    </div>
    <div>
        <div>
            <button>Отмена</button>
            <button>Загрузить</button>
        </div>
    </div>
</div>