@import '../../src/globalStyle/colors.scss';

.main_button {
    width        : 255px;
    height       : 59px;
    background   : $color-green;
    border-radius: 23px;
    margin-bottom: 30px;

    &__link {
        font-family    : 'Karla';
        font-style     : normal;
        font-weight    : 700;
        font-size      : 24px;
        line-height    : 44px;
        text-align     : center;
        color          : $color-white;
        text-decoration: none;
    }
}