<link rel="stylesheet" href="../../partials/userStyle.scss" />
<aside class="user" id="user">
  <div class="user__main">
    <div class="avatar__wrap">
      <img
        src="../../../static/images/defaultAvatar.jpg"
        alt="user avatar"
        class="avatar users__avatar"
        id="userAvatar"
      />
    </div>
    <span class="user__name">user name</span>
  </div>
</aside>