.change-password-modal {
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 24px 32px;

  &__header {
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__form {
    & > div:last-child {
      margin-top: 20px;
    }
  }

  &__input {
    background: var(--color-background-modal);
  }

  &__button {
    width: 100%;
    margin-bottom: 8px;
  }
}

@media (max-width: 500px) {
  .change-password-modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: var(--color-background-app);

    &__header {
      margin-bottom: 40px;
    }

    &__input {
      background: var(--color-background-app);
    }
  }
}
